/*
* Footer background: #006266
*/

* {
    font-family: 'Quicksand', sans-serif !important;
}
body {
    overflow-x: hidden;
}

.container {
    /* ONLY FOR DEBUG PURPOSES*/
     /*background-color: grey !important;*/
}

.btn-primary {
  background-color: #006266;
  border-color: #006266;
}

.btn-primary:hover {
  background-color: #018084;
}

.p-color {
    color: #2c3e50 !important;
}

.nav-light

.text-white {
    color: #ffffff !important;
}

/* color for nav items*/
.a-white {
    font-size: 1.25em;
    color: #fff !important;
    transition: all 300ms;
}

.a-white:hover {
    color: lightgray !important;
}

.a-blue {
    font-size: 1.25em;
    color: #2c3e50 !important;
    transition: all 300ms;
}

.bg-custom {
    background: #006266;
}

.bg-orange {
    background: #FFC312;
}


.fa-facebook-square {
    color: #fff;
    font-size: 50px;
}

.card {
    border-radius: 0px !important;
}

.btn {
    border-radius: 0px !important;
}

.btn-custom {
    background: #FFC312;
    color: #ffffff;
    transition: all 300ms;
}

.btn-custom:hover {
    background: #F79F1F;
}

.form-control {
    border-radius: 0px !important;
}
.img-shadow {
    box-shadow: #ffffff 5px 5px 5px;
}
